@import "../../variables.scss";

.board {
    transition: opacity 0.5s ease;
}

.board.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.board {
    .h, .f {
        display: flex;
        width: calc(var(--cell-size) - var(--border-width));
        height: calc(var(--cell-size) - var(--border-width));
        box-sizing: content-box;
    }

    .h { // header cell
        padding: calc(var(--border-width) / 2);
        justify-content: center;
        align-items: center;
    }

    .f { // field cell
        position: relative;
        background: var(--ship-bg-color-inactive);
        border: var(--border-width) solid var(--ship-border-color-inactive);
        margin: calc(-0.5 * var(--border-width));

        color: #777; // TODO remove
    }

    .row:nth-child(2) .f:nth-child(2) { border-radius: var(--board-radius) 0 0 0; }
    .row:nth-child(2) .f:last-child   { border-radius: 0 var(--board-radius) 0 0; }
    .row:last-child   .f:last-child   { border-radius: 0 0 var(--board-radius) 0; }
    .row:last-child   .f:nth-child(2) { border-radius: 0 0 0 var(--board-radius); }

    ::ng-deep app-ship-placeholder {
        margin: calc(-1 * var(--border-width));

        &.cdk-drag-placeholder {
            pointer-events: none;
        }
    }
}

i.board-symbol {
    position: absolute;
    font-size: calc(0.8 * var(--cell-size));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
