<div class="board">
	<div class="row">
		<div class="h"></div>
		<div class="h" *ngFor="let i of generateArray(size, 1)">{{i}}</div>
	</div>

	<div class="row" *ngFor="let row of generateCharArray(size, 'A'); index as i">
		<div class="h">{{row}}</div>
		<div class="f" cdkDropList (cdkDropListDropped)="shipDropped($event)" (click)="hit(field)"
			*ngFor="let field of generateFieldsArray(size, row)" [id]="field">
			<i class="material-icons" style="position: absolute;" *ngIf="boardHits(field)">close</i>

			<app-ship-placeholder *ngIf="shipsPlaced[field]" [size]="shipsPlaced[field].size"
				(click)="rotateShip(field)" [class.rotated]="!shipsPlaced[field].horizontal"></app-ship-placeholder>
		</div>
	</div>
</div>

<!-- {{shipsPlaced | json}} -->
