<div class="board">
	<div class="row">
		<div class="h"></div>
		<div class="h" *ngFor="let i of generateArray(size, 1)">{{i}}</div>
	</div>

	<div class="row" *ngFor="let row of generateCharArray(size, 'A'); index as i">
		<div class="h">{{row}}</div>
		<div class="f" cdkDropList (cdkDropListDropped)="shipDropped($event)"
			*ngFor="let cell of generateArray(size)" [id]="row+cell">

			<app-ship-placeholder *ngIf="shipsPlaced[row+cell]" [size]="shipsPlaced[row+cell].size"></app-ship-placeholder>
		</div>
	</div>
</div>

{{shipsPlaced | json}}
