<h1>Place the ships</h1>

<div class="column grow">
	<div class="row grow align-start align-cross-baseline">
		<div class="size-1-2 column align-cross-center padding">
			<em class="description padding" style="max-width: 70%">
				Drag and drop the ships to&nbsp;place them on&nbsp;board
				and&nbsp;then click them to&nbsp;rotate
			</em>
			<div class="ships-group column">
				<div class="row padding" *ngFor="let ships of availableShips"
					cdkDropList cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="boardFiledIds">
					<!-- (cdkDropListDropped)="shipDrop($event)" (cdkDropListExited)="shipExit($event)" (cdkDropListEntered)="shipEnter($event)"> -->

					<app-ship-placeholder *ngFor="let i of [].constructor(ships.count)" cdkDrag [cdkDragData]="ships"
						[size]="ships.size" [content]="ships.size.toString()"></app-ship-placeholder>
				</div>

				<div class="button-group">
					<button mat-button class="color-ship-dark" (click)="arrangeShipsRandomly()">
						<i class="material-icons">shuffle</i> ARRANGE RANDOMLY
					</button>
				</div>
			</div>
		</div>

		<div class="size-1-2 flex align-center">
			<app-game-board></app-game-board>
		</div>
	</div>

	<div class="column align-cross-center padding">
		<button mat-raised-button [disabled]="!allShipsUsed()" (click)="playerReady()">
			<em *ngIf="!allShipsUsed(); else readyButtonText">Place all your ships</em>
			<ng-template #readyButtonText><span>Get ready</span></ng-template>
		</button>
		<p class="description">{{opponentInfo}}</p>
	</div>

	{{availableShips | json}}
</div>
