:host {
    --cell-size: 50px;
    --border-width: 4px;
    --board-radius: var(--border-width);
    --ship-rotation-origin: calc(var(--cell-size) / 2 + var(--border-width) / 2);
    z-index: 1;
}

@media (max-width: 425px) {
    :host {
        --cell-size: 25px;
        --border-width: 2px;
    }
}
