<mat-card>
	<div class="card-header-overlapping">
		<img mat-card-image draggable="false" class="no-select" src="assets/board-perspective.png">
		<mat-card-header>
			<mat-card-title>Welcome</mat-card-title>
		</mat-card-header>
	</div>
	<mat-card-content>
		<p>
			Qui et ipsum officia aliqua excepteur proident commodo nostrud cupidatat ad tempor magna ad et.
		</p>
	</mat-card-content>
	<mat-divider></mat-divider>
	<mat-card-actions>
		<button mat-button routerLink="/invite">Join / Invite</button>
		<button mat-button routerLink="/random">Find random opponent</button>
		<button mat-button routerLink="/ranking">Ranking</button>
	</mat-card-actions>
</mat-card>
