<mat-card>
	<div class="card-header-overlapping">
		<img mat-card-image draggable="false" class="no-select" [src]="img">
		<mat-card-header>
			<mat-card-title>{{title}}</mat-card-title>
		</mat-card-header>
	</div>
	<mat-card-content>
		<p>{{content}}</p>
	</mat-card-content>
	<mat-divider></mat-divider>
	<mat-card-actions>
		<!-- TODO configurable buttons -->
		<button mat-button routerLink="/invite">Join / Invite</button>
		<button mat-button routerLink="/random">Find random opponent</button>
		<button mat-button routerLink="/ranking">Ranking</button>
	</mat-card-actions>
</mat-card>
