@import "./flex-layout.scss";

@import "@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --content-margin: 22vw; //20rem; TODO change name - used only in header now
    --fonts-display: "Comfortaa", Roboto, "DejaVu Sans", Helvetica, sans-serif;
    --fonts-sans: "DejaVu Sans", Helvetica, sans-serif;

    // Colors
    --ship-bg-color: #00bcd425;
    --ship-bg-color-dead: #90989b45; // TODO should have some opacity
    --ship-bg-color-inactive: #f2f4f5;

    --ship-border-color: #00838f;
    --ship-border-color-dead: #484848;
    --ship-border-color-inactive: #b9c7c7;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: #fafafa;
    margin: 0;
    font-family: var(--fonts-display);
}

html,
body {
    height: 100%;
}

.view-wrapper {
    margin: 0 auto;
    width: 80vw;
    height: 100%;
}

// make view component flex by default of full page height
.view-wrapper > router-outlet + * {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.view-wrapper h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 1rem 0 3rem;
}


.font-sans {
    font-family: var(--fonts-sans);
}
.font-display {
    font-family: var(--fonts-sans);
}

::selection {
    color: #fff;
    background: var(--ship-border-color);
}
::-moz-selection {
    color: #fff;
    background: var(--ship-border-color);
}

%decorative-pseudo-elem {
    content: "";
    display: block;
    position: absolute;
}

// Angular Material  // TODO create Angular Material theme and change fonts there
.mat-card {
    font-family: var(--fonts-sans);
}

.mat-card-title {
    font-family: var(--fonts-display);
}

.card-header-overlapping {
    position: relative;
}
.card-header-overlapping::after {
    @extend %decorative-pseudo-elem;
    height: 4em;
    left: -16px;
    right: -16px;
    bottom: 20px;
    z-index: 0;
    background: linear-gradient(
        0,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}
.card-header-overlapping .mat-card-header {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.card-header-overlapping .mat-card-header-text {
    // TODO: consider md-light/md-dark
    text-shadow: 0 1px 4px #0008;
    color: #fff;
    margin: 1em 0;
}
.card-header-overlapping .mat-card-title {
    font-weight: 600;
    font-size: 175%;
}


// Material icons
.material-icons {
    vertical-align: text-top;
    transition: color 0.3s ease;
}

.color-ok {
    color: #8bc34a;
}
.color-warn {
    color: #ff9800;
}
.color-danger {
    color: #f44336;
}
.color-gray {
    color: #ccc;
}
.color-ship-dark {
    color: var(--ship-border-color);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

// Helpers
.p-relative { position: relative; }
.p-top { position: absolute; top: 0; }
.p-bottom { position: absolute; bottom: 0; }


// Breakpoints
@media (max-width: 1400px) {
    .view-wrapper {
        width: 95vw;
    }
}

@media (max-width: 1200px) {
    .view-wrapper {
        width: 100%;
    }
}
