@import "./flex-layout.scss";

@import "@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --content-margin: 20rem;
    --fonts-display: "Comfortaa", Roboto, "DejaVu Sans", Helvetica, sans-serif;
    --fonts-sans: "DejaVu Sans", Helvetica, sans-serif;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: #fafafa;
    margin: 0;
    font-family: var(--fonts-display);

    // font-size: 1.6em;
    // font-weight: 300;
    // letter-spacing: .01em;
    // line-height: 1.6;
}

html,
body {
    height: 100%;
}

.content-wrapper {
    margin: 0 1rem;
}

.font-sans {
    font-family: var(--fonts-sans);
}

.padding {
    padding: 1rem;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    pointer-events: none;
}

%decorative-pseudo-elem {
    content: "";
    display: block;
    position: absolute;
}

// Angular Material  // TODO create Angular Material theme and change fonts there
.mat-card {
    font-family: var(--fonts-sans);
}

.mat-card-title {
    font-family: var(--fonts-display);
}

.card-header-overlapping {
    position: relative;
}
.card-header-overlapping::after {
    @extend %decorative-pseudo-elem;
    height: 4em;
    left: -16px;
    right: -16px;
    bottom: 20px;
    z-index: 0;
    background: linear-gradient(
        0,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}
.card-header-overlapping .mat-card-header {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.card-header-overlapping .mat-card-header-text {
    // TODO: consider md-light/md-dark
    text-shadow: 0 1px 4px #0008;
    color: #fff;
    margin: 1em 0;
}
.card-header-overlapping .mat-card-title {
    font-weight: 600;
    font-size: 175%;
}


// Material icons
.material-icons {
    vertical-align: text-top;
    transition: color 0.3s ease;
}

.material-icons.ok {
    color: #8bc34a;
}
.material-icons.warn {
    color: #ff9800;
}
.material-icons.danger {
    color: #f44336;
}
.material-icons.gray {
    color: #ccc;
}
