@import "./flex-layout.scss";

@import "@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --content-margin: 20rem;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    // font-size: 62.5%;
}

body {
    background: #fafafa;
    margin: 0;
    font-family: "Comfortaa", Roboto, "DejaVu Sans", Helvetica, sans-serif;

    // font-size: 1.6em;
    // font-weight: 300;
    // letter-spacing: .01em;
    // line-height: 1.6;
}

html,
body {
    height: 100%;
}

.font-sans {
    font-family: "DejaVu Sans", Helvetica, sans-serif;
}

.padding {
    padding: 1rem;
}

// Material icons
.material-icons {
    vertical-align: text-top;
}

.material-icons.ok {
    color: #8bc34a;
}
.material-icons.warn {
    color: #ff9800;
}
.material-icons.danger {
    color: #f44336;
}
