.panel {
    & {
        padding: 1em 4rem;
    }

    .mat-card {
        height: 100%;
        font-family: var(--fonts-display);
    }

    h2 {
        font-family: var(--fonts-display);
    }
}

@media (max-width: 425px) {
    .panel-is-opened {
        .panel {
            padding: 1rem;
        }

        .main-container {
            display: none;
        }

        mat-divider {
            display: none;
        }
    }
}
